.cubo {
    text-align: center;
    padding-left: 20px;
}

P {
    color: rgb(198, 212, 212);
    background-color: brown;
    font-size: x-large;
    font-family: sans-serif;
    width: 1200px;
    text-align: center;
    padding-right: 100px;
}